.span-trabalhos{
    position: absolute;
    width: 300px;
    height: 250px;
    left: 600px;
    border-radius: 3px;
    background-color:var(--color-line-qualification);
    border: 1px solid white;
    display: none;
}