.div-projetos {
    display: flex;
    justify-content: left;
    margin-top: 0px;
}

#projetos {
    display: flex;
    justify-content: center;
}

#div-projetos {
    display: flex;
    justify-content: center;
}

.container-projetos {
    margin-top: 70px;
}

.carousel {
    display: flex;
    /* background-color: red; */
    box-sizing: border-box;
    height: 65vh;
    overflow: hidden;
  
}
.btn-seta {
    background-color: transparent;
    border: none;
    width: 32px;
    margin-right: 10px;
    margin-left: 10px;
}
.setas{
    cursor: pointer;
    width: 2vw;
}
.setas:hover{
    cursor: pointer;
    width: 1.8vw;
}

.radio{
    margin-top: 10px;
}
.li-projeto-1 {
    width:70vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color:#502f9652;
    border-radius: 3px;
    padding-top: 10px;
}
.div-img{
    width: 35vw;
    height: 100%;
}

.img-projeto{
    width:18vw;
    border-radius: 3px;
    height: auto;
    margin-top: -35px;
}
.img-projeto-1{
    width: 21vw;
    height: auto;
    border-radius: 3px;
}
/* .img-projeto-2{
    width: 20vw;
    height: auto;
    border-radius: 3px;
} */

.div-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .5px;
  
}

.div-video {
    width: 50%;
    margin-top: 0px;
    height: auto;
    max-width: 800px;
    /* Ajuste conforme necessário */
    margin-top: 10px;
}
.title-video{
  width: 100%;
  font-size: 1vw;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .5px;
}
.title-descricao{
    font-size: 1.3vw;
}
.descricao-texto{
    font-size: 1.2vw;
    width: 100%;
    margin-top: 10px;
    text-align: left;
}
.p-dest{
font-size: 1.2vw;
font-weight: 700;
text-align: left;
margin-top: 10px;
}
.p-dest-2{
font-size: 1.2vw;
}

.div-video video {
    width: 100%;
    height: auto;
}

.div-texto {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
   
}

.div-texto p {
    text-align: justify;
}