@media(max-width:500px){
  

   .img-logo{
    width: 100px;
   }

   .logo{
    margin-left: 10px;
   }

   .name-logo,.text-logo{
    font-size: .9rem;
   }
   .hex:hover{
    background-color: #08040f;
   }
   .title-home{

    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-left: 5px;
   }
   .box-img {
    margin-top: 20px;
    height: 100%;
    background-color: #2C1E4A;
    box-shadow: 0 0 20px rgba(80, 47, 150, 0.8), 0 0 40px rgba(80, 47, 150, 0.6), 0 0 60px rgba(80, 47, 150, 0.4);
    padding-right: 0px;
    padding-left: 0px;
    padding-top:0px;
    padding-bottom: 0px;
  }

  #text-full-stack,.text-full-stack{
    margin-left: 5px;
  }
  #text-slogan{
    margin-left: 5px;
    font-size: 1rem;
    margin-top: 30px;
  }
  
.p-down-arrow{
    margin-top: 30px;
}
#img-about{
    display: none;
}
.title-section{
    font-size: 2.5rem;
}
.text-about,.word-highlighting{
font-size: 1.5rem;
}
.content-about{
    margin-top: 46px;
}
.section1-diplay {
    animation: descer 3s, aparecer 7s ease-out forwards;
}
.container-qualificacao{
  margin-top: -30px;
}

.ul-line-1,
.ul-line-2,
.img-livro {
  display: none;
}

.imgMobile {
  display: flex;
  width: 100vw;
  height: 400px;
}
.mobile {
 display: flex;
}
.pc{
  display: none;
}

.div-squad{
  margin-top: 25px;
  display: block;
  margin-left: 0;
}
.service-1,
.service-2,
.service-3{
  width: 300px;
  height: 300px;
  margin-bottom:30px ;
}
.img-service{
  width: 150px;
}
.img-portfolio{
  display: none;
}
.title-section-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.container-portfolio{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.div-img-portfolio{
display: flex;
justify-content: center;
background-color: rgba(102, 51, 153, 0.009);
align-items: center;
/* background-color: red; */
}
#projeto-1{
  padding-top: 10px;
  background-color: #08040f;
  display: block;
  width: 100vw;
  height: auto;
}

#projeto-3{
  padding-top: 10px;
  background-color: #08040f;
  display: block;
  width: 100vw;
  height: auto;
}
.btn-seta{
  display: none;
}

.img-p {
  margin-top: 10px;
  margin: 0;
  border-radius: 5px;
  width: 300px;
  height: auto;
}
.img-p2 {
  margin-top: 15px;
  border-radius: 5px;
  width:350px;
}
.carousel-container {
  box-shadow: none;
}
.div-video {
  display: flex;
  height: auto;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.video-1{
  width: 100vw;
}
.img-git,
#radio-3 {
  display: none;
}
#projeto-2 {
  height: auto;
  display: block;
  width: 100vw;
  height: auto;
  /* background-color: red; */
}

.img-site {
  margin: 10px;
  display: flex;
  justify-content: left;
  margin-left: 0;
  height: auto;
}
.img-p3{
  width: 350px;
}
.descricao-texto-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 1.5rem;
}

#projeto-3 {
  width: 1000px;
  height: 650px;
  align-items: start;
  display: flex;
  /* background-color: aliceblue; */
}

.img-git {
  width: 100%;
  height: auto;
}

.descricao-texto{
  font-size: 1rem;
  margin-bottom: 20px;
}
.div-service{
  margin: 0;
  margin-top:45px;
}
.div-contacto{
  margin: 0;
  height: auto;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--footer);
  color: white;
  font-size: .8rem;
  font-weight: 300;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.div-contacto-itens {
  padding-top: 0px;
  margin-bottom: 100px;
  width: 100vw;
  align-items: center;
  text-align: left;
}
.p-social-info{
  margin-left: 5px;
  font-size: 1.4rem;

}
.p-social-title{
margin-left: 5px;
}
.a-email {
font-size: 1.3rem;
}
.a-social{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a-social:hover, .li-contact:hover{
  background-color:rgba(80, 47, 150, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
 .a-email:hover  {
  padding: 0;
  width: 100vw;
  border: 1px solid transparent;
  background-color: transparent;
  margin-left: 0;
}
.whatsap{
  margin-top: 30px;
  border: none;
}
.tecnologias-title{
 font-size: 2rem;
}
.tecnologias{
  display: none;
}
.img-tech,#ul-skills{
  display: none;
}

.box-skills{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgTech-mobile {
  display: flex;
  width: 350px;
  margin:0px;
  box-shadow: 0 0 10px rgba(80, 47, 150, 0.8), 0 0 20px rgba(80, 47, 150, 0.6), 0 0 30px rgba(80, 47, 150, 0.4);
}
.img-social{
  width: 40px;
  height: auto;
}
.li-contact{
  width: 60px;
  height: 60px;
}
.title-social {
  margin-top: 130px;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 50px;
  margin-left: 20px;
}

.img-social {
  width: 40px;
  height: 40px;
}

}