@font-face {
    font-family: 'MinhaFonte';
    src: url('./fonnts.com-Lastica.ttf') format('truetype');
}
:root {
    --primary-color: black;
    --secondary-color: #2C1E4A;
    --text-color:white;
    --color-line-qualification:#8850FF;
    --footer:#15001b;
  

/* medidas Title-sections */

   --font-size-fullScreen:4vw;
   --font-size-text:2vw;
   --font-size-dest:3vw;
   --title-secundario:2vw;
   --font-size-mobile:30px;

}
@keyframes up-text {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes show-text {
    from {
        opacity: 0;
        /* Totalmente invisível */
    }

    to {
        opacity: 2;
        /* Totalmente visível */
    }
}

@keyframes up-text-img {
    from {
        transform: translatex(50%);
        opacity: 0;
    }

    to {
        transform: translatex(0%);
        opacity: 1;
    }
}

@keyframes show-text-img {
    from {
        opacity: 0;
        /* Totalmente invisível */
    }

    to {
        opacity: 2;
        /* Totalmente visível */
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    height: auto;
}

/* Cores das Sections */
.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-fullScreen);
}

#section1 {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    height: 100vh;
    margin: 0;
    overflow: hidden;
} 
main {
    display: flex;
    flex-direction: column;
    margin: 0;
}
section {
    color: #fff;
    text-align: center;
    height: auto;
    padding: 40px 0;
    width: 100%;
}

/* css section2 about */
#section2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    width: 100%;
    height: auto;
    margin-bottom: -100px;
}
.content-about{
    margin-top: 180px;
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: auto;
    margin-bottom: 0px;
}
.section.show-animate .animacao-text-about{
   animation: up-text 2s ease-out forwards, show-text 2s ease-out forwards;
}

.section.show-animate .img-about{
    width: 25vw;
    display: flex;
    animation: up-text-img 2s ease-out forwards, show-text-img 2s ease-out forwards;
}
.img-about-mobile{
    width: 50px;
    display: none;
}
.text-about{
    font-size: var(--font-size-text);
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.word-highlighting{
    font-size:var(--font-size-dest);
    color: #8850FF;
}

.title-section-2{
    margin-bottom: 25px;
    margin-top: 100px;
    animation: up-text 2s ease-out forwards, show-text 2s ease-out forwards;
}

/* css section3 portfolio */
.title-portfolio{
   display: flex;
   text-align: end;
   margin-top:6vh;
   margin-bottom: 20px;
}
#section3 {
    margin-top: 10vh;
    width: 100%;
    height: auto;
    /* background: linear-gradient(to right, #150f24, rgb(0, 0, 0)); */
}

/* css section4 */
#section4 {
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.div-service{
    margin-top: 100px;
}

.div-squad{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.div-squad-display{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
   
}

/* css section5*/
#section5 {
    position: relative;
    padding-top: 10px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.img-service{
    width: 9vw;
    height: auto;
    margin-top: 5px;
    padding: 10px;
}
.service-1,.service-2,.service-3{
  width: 20vw;
  height: 35vh;
  background-color:var(--color-line-qualification);
  margin: 10px;
}

.size {
    font-size: 2.8vw;
    margin-top: 13vh;
}
.my-bg{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0px;
    width: 100vw;
    width: 100vw;

}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--footer);
    color: white;
    font-size: 1vw;
    padding: 10px;
}

/* Estilos Responsivos */
@media (min-width: 900px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        width: calc(50% - 10px);
        /* Metade da largura com margem */
        margin: 5px;
        /* Pequena margem para espaçamento */
    }
      
}

@media (min-width: 1200px) {
    section {
        width: calc(33.333% - 10px);
        margin: 5px;
    }
}


/* Altura menor para telas menores que 800px */
@media (max-width: 900px) {
    #section1 {
        height: 60vh;
        background: rgba(255, 0, 0, 0);
        padding-bottom: 200px;
    }
     
 .img-about-mobile {
     width: 50px;
     display: flex;
     margin-left: 10px;
 }
.section.show-animate .img-about{
     width: 300px;
     display: none;
 }

 .div-squad {
     display: block; 
     margin-left: 100px;
 }
 #section4 {
    background: linear-gradient(to top, #211738, rgb(0, 0, 0));
     width: 100%;
     height: auto;
     margin: 0;
 }

 #section2 {
     display: flex;
     flex-direction: column;
     padding: 20px;
     background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
     width: 100%;
     height: auto;
     margin: 0;
 }

 .content-about {
     margin-top: 0px;
     display: flex;
     align-items: center;
     /* background-color: red; */
     height: auto;
     margin-bottom: 0px;
 }
}