* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('./fonnts.com-Lastica.ttf') format('truetype');
}

:root {
/* Menu */
--primary-color: black;
    --secondary-color: #2C1E4A;
    --vetor-color: #6f0091;

    /*cor linhas menu*/
    --cor1: black;
    /*cor nome menu*/
    --cor2: black;
    /*cor links do menu */
    --cor3: rgb(255, 255, 255);

/* Variáveis gerais*/
    --primary-color: black;
    --secondary-color: #2C1E4A;
    --text-color:white;
    --color-line-qualification:#8850FF;
    --footer: #08040f;
  

/* medidas Title-sections */

   --font-size-fullScreen:5rem;
   --font-size-text:2rem;
   /* --font-size-mobile:30px; */

}
@keyframes descer {
    from {
        top: 230px;
        /* Posição inicial, no topo */
    }

    to {
        top: 250px;
        /* Posição final, na parte inferior */
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
        /* Totalmente invisível */
    }

    to {
        opacity: 2;
        /* Totalmente visível */
    }
}

@keyframes up-text {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes show-text {
    from {
        opacity: 0;
        /* Totalmente invisível */
    }

    to {
        opacity: 2;
        /* Totalmente visível */
    }
}
@font-face {
    font-family: 'MinhaFonte';
    src: url('./fonnts.com-Lastica.ttf') format('truetype');
}

@keyframes up-text {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes show-text {
    from {
        opacity: 0;
        /* Totalmente invisível */
    }

    to {
        opacity: 2;
        /* Totalmente visível */
    }
}

@keyframes up-text-img {
    from {
        transform: translatex(50%);
        opacity: 0;
    }

    to {
        transform: translatex(0%);
        opacity: 1;
    }
}

@keyframes show-text-img {
    from {
        opacity: 0;
        /* Totalmente invisível */
    }

    to {
        opacity: 2;
        /* Totalmente visível */
    }
}

html,
body {
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    height: auto;
}

/* Cores das Sections */
.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-fullScreen);
}

#section1 {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    height: 100vh;
    margin: 0;
    overflow: hidden;
} 
main {
    display: flex;
    flex-direction: column;
    margin: 0;
}
section {
    color: #fff;
    text-align: center;
    height: auto;
    padding: 40px 0;
    width: 100%;
}

/* css section2 about */
#section2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    width: 100%;
    height: auto;
    margin-bottom: -100px;
}
.content-about{
    margin-top: 180px;
    display: flex;
    align-items: center;

    height: auto;
    margin-bottom: 0px;
}
.section.show-animate .animacao-text-about{
   animation: up-text 2s ease-out forwards, show-text 2s ease-out forwards;
}

.section.show-animate .img-about{
    width: 25vw;
    display: flex;
    animation: up-text-img 2s ease-out forwards, show-text-img 2s ease-out forwards;
}
.img-about-mobile{
    width: 50px;
    display: none;
}
.text-about{
    font-size: var(--font-size-text);
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.word-highlighting{
    font-size:var(--font-size-dest);
    color: #8850FF;
}

.title-section-2{
    margin-bottom: 25px;
    margin-top: 100px;
    animation: up-text 2s ease-out forwards, show-text 2s ease-out forwards;
}


/* css section4 */
#section4 {
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* margin-bottom: 50px; */
}

.div-service{
    margin-top: 100px;
    display: flex;
    height: auto;
    display: block;
    text-align: center;
}

.div-squad{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    gap: 30px;
    margin-top: 30px;
    /* background-color: red; */
}

/* css section5*/

.img-service{
    width: 130px;
    height: auto;
    margin-top: 5px;
    padding: 10px;
}
.service-1,.service-2,.service-3{
  width: 250px;
  height: 250px;
  background-color:#502f96;
 box-shadow: 0 0 10px rgba(80, 47, 150, 0.8), 0 0 20px rgba(80, 47, 150, 0.6), 0 0 30px rgba(80, 47, 150, 0.4);
  
}

.my-bg{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -150px;
    width: 100vw;
    height:auto;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--footer);
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.div-qualification {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding: 5px;
    padding-bottom: 100px;
}

.mobile,.imgTech-mobile,.imgMobile{
    display: none;
}

.container-qualificacao {
    margin-top: 100px;
    box-sizing: border-box;
}

.title-section-1 {
    margin-bottom: 20px;
}

.ul-line-1 {
    list-style: none;
    position: relative;
}

.ul-line-2 {
    /* border-right: 1px solid rgb(255, 255, 255); */
    list-style: none;
    position: relative;
}

.line-1 {
    font-size: 1.5rem;
    width: auto;
    height: 200px;
    border-right: 5px solid var(--color-line-qualification);
}

.line-2 {
    font-size: 1.5rem;
    width: auto;
    height: 200px;
    margin-left: 15px;
}

li.line-1 p {
    font-weight: 300;
    text-wrap: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Ajuste o valor conforme necessário */
}

li.line-2  {
    font-weight: 300;
    text-wrap: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Ajuste o valor conforme necessário */
}

.line-1-3 {
    color: rgb(163, 163, 163);
}

.line-1-1 {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.line-1-2 {
    margin-top: -5px;
}
.line-1-1,
.line-1-2,
.line-1-3 {
    margin-right: 10px;
}
.end {
    list-style: none;
    background-color: rgba(255, 0, 0, 0);
    border: none;
}

.span-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--color-line-qualification);
    border-radius: 50%;
    position: absolute;
    right: -9px;
}
.img-tech{
    width:400px;
    height: 400px;
}
.container-skils {
    margin-top: -70px;
    margin-bottom: 150px;
    box-sizing: border-box;
    /* background-color: red; */
    height:auto;

}
.box-skills {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    gap:20px;
}
.box-img{
    margin-top: 20px;
    height: 100%;
    background-color: #2C1E4A;
    box-shadow: 0 0 20px rgba(80, 47, 150, 0.8), 0 0 40px rgba(80, 47, 150, 0.6), 0 0 60px rgba(80, 47, 150, 0.4);
    padding-right: 20px;
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ul-skills1 {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    margin-left: -40px;
}
.ul-skills2 {
    margin-left: 35px;
    margin-top: -40px;
    list-style: none;
    display: flex;
    box-sizing: border-box;
    
}
.ul-skills3 {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    margin-left: -40px;
    margin-top: -40px;
}
.ul-skills4 {
    list-style: none;
    display: flex;
    box-sizing: border-box;
    margin-left: 35px;
    margin-top: -40px;
}

.li-skill {
    box-sizing: border-box;
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 5px;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img-skills {
    width: 75px;
    height: auto;
}

.tecnologias-title {
    font-size:3rem;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

.div-skills {
    display: flex;
    justify-content: center;
}
/* css section3 portfolio */

#section3 {
    margin-top: 40px;
}

.title-section-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-fullScreen);
}
.title-descricao{
font-size:1.4rem ;
margin-top: 30px;
margin-bottom: 12px;
font-family: 'Roboto', sans-serif;
text-align: center;
padding: 5px;
}
.descricao-texto{
font-family: 'Roboto', sans-serif;
text-align: center;
font-size: 1.2rem;
letter-spacing: 1px;
margin-bottom: 13px;
display: flex;
justify-content: center;
padding: 15px;
}
.title-video{
    margin: 0;
    font-size: 1rem;
    text-align: center;
    width: auto;
    padding: 10px;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    /* ou a largura desejada */
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 0 30px rgba(80, 47, 150, 0.8), 0 0 50px rgba(80, 47, 150, 0.6), 0 0 70px rgba(80, 47, 150, 0.4);
}

.carousel {
    display: flex;
    background-color: transparent;
}

.projeto {
    min-width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    
}

#projeto-1{
    width: 1000px;
    height: 650px;
    display: flex;
    /* background-color:rgba(80, 47, 150, 0.426); */
}
#projeto-2{
    width: 1000px;
    height: 650px;
  /* background-color: red; */
}
#projeto-3{
    width: 1000px;
    height: 650px;
/* background-color: aliceblue; */
}

.btn-seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#prev {
    left: 0; 
}

#next {
    right: 0;
}
.div-img-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.div-img-portfolio img {
    margin: auto;
}

.project-change {
    text-align: center;
    margin-top: 10px;
}

.project-change input[type="radio"] {
    margin: 0 5px;
    width: 20px;
    /* Altere o valor para ajustar o tamanho */
    height: 20px;
    /* Altere o valor para ajustar o tamanho */
    display: inline-block;
}


.img-p{
margin-top: 10px;
margin-left: 50px;
border-radius: 5px;
width: 300px;
height: auto;
}
.img-p2{
margin-top: 10px;
border-radius: 5px;
width: 400px;
}
.div-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.video-1{
width: 400px;
}

.btn-seta {
    background-color: transparent;
    border: none;
    width: 32px;
    margin-right: 20px;
    margin-left: 10px;
    display: none;
} 

 .setas {
    cursor: pointer;
    width: 2rem;
}

.setas:hover {
    cursor: pointer;
    width: 2.3rem;
} 

.radio {
    margin-top: 10px;
}

.bg-mobile {
    display: none;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 90px;
    position: absolute;
    z-index: 2;
}


.section1-diplay {
    top: 250px;
    position: absolute;
    z-index: 2;
    animation: descer 2s ease-out forwards, aparecer 5s ease-out forwards;
}



.img-logo {
    width: 8vw;
    height: auto;
    animation: show-text 3s ease-out forwards;
}

.name-logo {
    font-family: MinhaFonte;
    letter-spacing: 2px;
    font-size: 1vw;
    animation: show-text 3s ease-out forwards;
}

.text-logo {
    font-size: 1rem;
    margin-top: -3px;
}

.p-down-arrow {
    height: auto;
    display: flex;
    justify-content: center;
}

#btn-arrow {
    font-size: 1rem;
    background: rgba(255, 255, 255, 0);
    border: none;
    margin-top: 35px;
    cursor: pointer;
    color: rgb(150, 150, 150);
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    transition: padding-top .3s ease, opacity 3s ease-in-out;
}

#btn-arrow:hover {
    padding-top: 30px;
}

.down-arrow {
    margin-top: 20px;
    width: 20px;
}

.title-home {
    font-family: MinhaFonte;
    font-weight: 1000;
    text-align: left;
    margin-top: 70px;
    font-size: 5vw;
    letter-spacing: 10px;
}

.section1-diplay {
    position: absolute;
    z-index: 2;
}

#text-full-stack {
    margin-left: 90px;
}

.text-full-stack {
    margin-left: 90px;
    margin-top: -25px;
}

i {
    margin-left: 15px;
}

.slogan {
    margin-top: -20px;
    text-align: left;
    color: #8850FF;
}

#text-slogan {
    font-family: MinhaFonte;
    letter-spacing: 5px;
    font-size: 40px;
    margin-left: 90px;
}

#section5 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.div-contacto-itens {
    padding-top: 30px;
    padding: 5px;
    margin-bottom: 100px;
    margin: 0 auto;
    width: fit-content;
    text-align: left;
    /* background-color: rgb(0, 4, 255); */
}
.title-social {
    margin-top: 30px;
    font-size: 3rem;
    margin-bottom: 50px;
}

.img-social {
    width: 70px;
    height: 70px;
}

.p-social-info {
    display: flex;
    font-size: 2vw;
    color: white;
    cursor: pointer;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid transparent;
    transition: border-bottom .6s ease;
}

.a-email {
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.p-social-info:hover {
    border-bottom: 1px solid white;
}

.img-whatsap,
.img-email {
    width: 50px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

.p-social-title {
    font-size: 45px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.ul-contact {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 5px;
    width: auto;
}

.li-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 3px;
    cursor: pointer;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.li-contact:hover {
    background-color: #8850FF;
}

.img-portfolio {
    width: 400px;
    height: auto;
    margin-right: 30px;
}

.hex-grid {
    display: flex;
    height: 105vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 0px;
    overflow: hidden;
    border-bottom: 1px solid#08040f;
    box-shadow: 0 0 30px rgba(80, 47, 150, 0.8), 0 0 50px rgba(80, 47, 150, 0.6), 0 0 70px rgba(80, 47, 150, 0.4);
}

.hex {
    background-color: #08040f;
    width: 90px;
    height: 90px;
    margin: 3px;
    margin-right: 0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: background-color 1s ease, background-color 2s ease 1s;
}

.hex:hover {
    /* background-color: #6f0091; */
    background-color: #8850FF;
    transition: background-color 1s ease;
}

.hex-row {
    display: flex;
    justify-content: center;
    margin-top: -26px;
}



/* Inicio da estrutura do Menu - cabeçalho tela sem responsividade */


a {
    text-decoration: none;
    font-family: sans-serif;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-bottom: 1px solid var(--cor3);
}


a {
    color: white;
}

a.active-link {
    border: 1px solid white;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    height: 7vh;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    justify-content: flex-end;
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
    transition: height 0.3s ease;
}

.scrolled {
    height: 10vh;
    background: linear-gradient(to right, #150f24, rgb(0, 0, 0));
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
    font-weight: 100;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}


/* fim da estrutura do Menu e cabeçalho quando a tela está sem responsividade */

#btn-mobile {
    display: none;
}

@media (max-width: 900px) {
    btn-mobile {
        display: block;
    }

    header {
        background: #110c1d
    }

    #menu {
        display: block;
        position: absolute;
        width: 0%;
        top: 50px;
        right: 0px;
        background: #110c1d;
        height: 50vh;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        text-align: center;
        overflow: hidden;
    }

    #nav.active #menu {
        width: 100%;
        text-align: center;
        display: block;
        visibility: visible;
        overflow: hidden;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }

    a {
        border: 1px solid rgba(255, 255, 255, 0);
    }

    a:hover {
        padding: 1rem 0;
        margin: 0 1rem;
        background-color: var(--secondary-color);
        border: 1px solid white;
    }


    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: var(--cor3);
    }

    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
        margin-left: 5px;
        color: var(--cor3);
    }


    #hamburguer::after {
        content: '';
        width: 20px;
        height: 2px;
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        background: currentColor;


    }

    #hamburguer::before {
        content: '';
        width: 20px;
        height: 2px;
        display: block;
        margin-top: 5px;
        background: currentColor;

    }

    nav.active #hamburguer {
        border-top-color: transparent;
    }

    nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px
    }

}