:root {
    --primary-color: black;
    --secondary-color: #2C1E4A;
    --text-color:white;
    --color-line-qualification:#5E366E;


/* medidas Title-sections */

   --font-size-fullScreen:50px;
   --font-size-mobile:30px;

}
 

@font-face {
    font-family: 'MinhaFonte';
    src: url('./fonnts.com-Lastica.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
}

section {
    color: #fff;
    text-align: center;
    height: auto;
    padding: 40px 0;
    width: 100%;
}

/* Cores das Sections */
.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-fullScreen);
}

 
footer {
    background: linear-gradient(90deg, rgb(31, 29, 63), #000000);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: auto;
}

/* css section1 */

/* .bg-video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 120vh;
    object-fit: cover;
    z-index: -1;
} */

#section1 {
    background: linear-gradient(to right, #211738, rgb(0, 0, 0));
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


/* css section2 */

#section2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to right, #211738, rgb(0, 0, 0));
    width: 100%;
    height: auto;
    margin: 0;
}
.content-about{
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: 90vh;
}
.img-about{
    width: 300px;
    display: flex;
}
.img-about-mobile{
    width: 50px;
    display: none;
}
.text-about{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.word-highlighting{
    font-size:26px;
    color: #9b59b6;
}

/* css section3 */

#section3 {
    background: linear-gradient(to right, #211738, rgb(0, 0, 0));
    width: 100%;
    margin: 0;
}
.div-portfolio{
    margin-top: 100px;
}


/* css section4 */
#section4 {
    background: linear-gradient(to right, #211738, rgb(0, 0, 0));
    width: 100%;
    height: 90vh;
    margin: 0;
}
.div-service{
    margin-top: 100px;
}

.img-service{
    width: 100px;
    height: auto;
    margin-top: 40px;
    padding: 10px;
}
.service-1,.service-2,.service-3{
  width: 200px;
  height: 200px;
  background-color: rgb(31, 29, 63);
  margin: 10px;
}
.div-squad{
    display: flex;
    justify-content: center;
}


/* css section6 */
#section5 {
    background: linear-gradient(to right, #211738, rgb(0, 0, 0));
    width: 100%;
    margin: 0;
}
.div-contacto{
    margin-top: 100px;
}


/* Estilos Responsivos */
@media (min-width: 900px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        width: calc(50% - 10px);
        /* Metade da largura com margem */
        margin: 5px;
        /* Pequena margem para espaçamento */
    }
}

@media (min-width: 1200px) {
    section {
        width: calc(33.333% - 10px);
        margin: 5px;
    }
}


/* Altura menor para telas menores que 800px */
@media (max-width: 800px) {
    #section1 {
        height: 80vh;
    }
        .bg-video {
            position: absolute;
            top: 0;
            right: 0;
            width:100%;
            height: 80vh;
            object-fit: cover;
            z-index: -1;
        }
 .img-about-mobile {
     width: 50px;
     display: flex;
     margin-left: 10px;
 }
 .img-about {
     width: 300px;
     display: none;
 }

 .div-squad {
     display: block; 
     margin-left: 100px;
 }
 #section4 {
    background: linear-gradient(to top, #211738, rgb(0, 0, 0));
     width: 100%;
     height: auto;
     margin: 0;
 }
 
}