.section {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: aquamarine; */
    background: linear-gradient(90deg, #2C1E4A, #000000);
}

.title-about {
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: linear-gradient(to top, #7cbdd4, #c54eb1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.div-text-about {
    display: flex;
    text-align: top;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    margin-top: 0px;
}

.img-animation {
    flex: 0 0 auto;
    margin-right: 20px;
    height: 100vh;
    margin-top: 150px;
    /* animation: slide-section 2s ease forwards; */
}

.img-About {
    width: 350px;
    display: none;
}

.text-about {
    color: white;
    margin-top: 0px;
    margin-left: 40px;
    align-items: center;
    flex: 1 1 auto;
    font-family: sans-serif;
    line-height: 1.6;
    text-align: justify;
    height: 100vh;
    display: none;
    opacity: 0;
}
.text {
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 300;
}
.section.show-animate .img-About {
    animation: slide-section-img 2s ease forwards;
    display: block;
}

.section.show-animate .text-about {
    display: block;
    animation: slide-section 2s ease forwards;
    opacity: 1;
}

.text {
    margin-top: 50px;
}

.animation-about {
    display: flex;
    align-items: center;
    width: 100%;
}

.destaque {
    font-size: 35px;
    background: linear-gradient(to top, #7cbdd4, #c54eb1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* Opcional: adicionar negrito para destacar mais */
}
@keyframes slide-section {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-section-img {
    from {
        transform: translateX(20%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}