.section-about{
    width: 100%;
    height: 100vh;
    color: rgb(0, 0, 0);
}
    
.div-about{
    width: 100%;
    height: 530px;
    padding: 0 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.span-text{
width: 800px;
height: 570px;
overflow: auto;
color: rgb(255, 255, 255);
padding: 0px 30px;
font-weight: 300;
}

.text-about {
    font-size: 16px;
    color: var(--color-text-about);
    letter-spacing: 0.08em;
    /* Ajusta o espaçamento entre as letras */
}

.span-destacar{
    font-weight: 300;
    color: var(--span-letra-destacar);
}
.about{
    font-weight: 300;
    font-size: 30px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.05em;
}

.hard-skills {
    font-size: 35px;
    font: 30px;
    font-weight: 300;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgb(255, 244, 194);
}
