
.carousel{
    display: flex;
    background-color: var(--carousel-color);
    justify-content: center;
    margin-top: -180px;
    position: relative;
    overflow: hidden;
    /* background-color: red; */
    
}

.carousel-inner{
    /* background-color: blue; */
}
.carousel-prev,.carousel-next{
  margin-top: 0px;
  cursor: pointer;
  height: var(--carousel-item-height);
}

.img{
    border-radius: 5px;
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.seta_direita, .seta_esquerda{
 width: 30px;
 margin-left: 15px;
 margin-right: 15px;
}
.carousel-prev,.carousel-next{
    background-color: transparent;
    border: none;
}

.title-portfolio{
    width: 100%;
    height: 140px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    font-weight: 300;
    margin-top: 140px;
}
.section-carousel{
height: 100vh;
}

.print-GL{
    width: 00%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}


