
.contact {
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 35px;
    padding-top: 20px;
    margin-top: 0px;
    color: var(--title-contact);
    justify-content: left;
    letter-spacing: 0.05em;
    background: linear-gradient(90deg, #2C1E4A, #000000);
}
.title-contact{
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 40px;
    margin-left: 70px;
    margin-top: 150px;
    font-weight: 300;
    color:white;
}
.ul-midias{
    list-style: none;
}
.li-midias{
    margin-top: 70px;
    margin-left: 70px;
    font-size: 25px;
    display: block;
    align-items: center;
}
.email{
    margin-bottom: 15px;
}
.email a{
    color: white;
}

#li-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.squad-1,
.squad-2,
.squad-3,
.squad-4 {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
}

.squad-1:hover,
.squad-2:hover,
.squad-3:hover,
.squad-4:hover,
.a-squad:hover {
    border-radius: 3px;
    background: rgb(24, 23, 23);
}

.squad-1:hover {
    background: rgb(0, 119, 181);
}

.squad-3:hover {
    background: rgb(0, 0, 0);
}

.squad-4:hover {
    background: #3b5998;
}

.img-squad {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
footer {
    padding: 5px;
    align-items: center;
    width: 100%;
    height: 30px;
    background: #00000034;
}

.copy {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.contatos {
    display: block;
    width: 100%;
    height: 50px;
    list-style: none;
    justify-content: left;
    gap: 5px;
    padding-bottom: 100px;
    background-color: rebeccapurple;
}
.img-whatsap {
    width: 45px;
    padding: 5px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.img-whatsap:hover {
   cursor: pointer;
   padding: 5px;
   background-color: #00471a;
}
.fone-text{
    font-size: 35px;
}

.fone{
    display: flex;
    align-items: center;
}


.email-contact {
    margin-top: 20px;
    text-align: center;
    color: var(--title-contact);
}

