.contact {
    position: relative;
    width: 100%;
    height: 120vh;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 35px;
    padding-top: 20px;
    margin-top: 0px;
    color: var(--title-contact);
    justify-content: left;
    letter-spacing: 0.05em;
    background: linear-gradient(90deg, #2C1E4A, #000000);
}
.img-conversa {
    margin-top: 60px;
    margin-right: 50px;
    width: 230px;
    height: 370px;
   
}
.title-contact{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    font-weight: 300;
    color:white;
}
.div-midias{
    display: flex;
    justify-content: center;
}
.ul-midias{
    margin-left: 0px;
    margin-top: 0px;
    list-style: none;
    height: auto;
}
.li-midias{
    margin-top: 60px;
    margin-left: 10px;
    font-size: 25px;
    display: block;
    align-items: center;
}

.squad-1,
.squad-2,
.squad-3,
.squad-4 {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
}

.squad-1:hover,
.squad-2:hover,
.squad-3:hover,
.squad-4:hover,
.a-squad:hover {
    border-radius: 3px;
    background: rgb(24, 23, 23);
}

.squad-1:hover {
    background: rgb(0, 119, 181);
}

.squad-3:hover {
    background: rgb(0, 0, 0);
}

.squad-4:hover {
    background: #3b5998;
}

.img-squad {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
footer {
    padding: 5px;
    align-items: center;
    width: 100%;
    height: 30px;
    bottom: 0;
    background: #00000034;
}

.copy {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.contatos {
    height: 20px;
    list-style: none;
    gap: 5px;
    padding-bottom: 100px;
    /* background-color: rebeccapurple; */
    margin-top: -20px;
}
#li-contato {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 350px;
    padding: 10px;
    justify-content: left;
    border: 1px solid rgb(83, 199, 223);
}
.img-whatsap {
    width: 29px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    
}



.fone-text{
    font-size: 30px;
    font-weight: 300px;
}

.fone{
    display: flex;
    align-items: center;
    color:rgb(83, 199, 223);
    font-size: 20px;
    margin-top: 0px;
}
.social {
font-size:30px;
font-weight: 300;
}

.email{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 0;    
    font-size: 25px;
    font-weight: 300;
    color: rgb(83, 199, 223);
}

.email-text{
    font-size: 30px;   
}

