@media (max-width: 700px) {
   
    .nav{
        height: 0px;
        overflow: hidden;
        transition: height 1s ease;
    }
   .nav {
       transition: height 0.5s ease;
       height: 0;
       overflow: hidden;
   }

   .nav.active {
       height: 250px;
       overflow: visible;
   }

    .img-logo.scrolled {
        width: 250px;
    }

    .li-contato {
        transition: border-bottom 0.5s ease, background-color 0.5s ease;
        border-bottom: 1px solid transparent;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 13px;
    }
    #a-contato{
        display: flex;
        width: 100%;
        align-items: center;
    }
  

    .li-contato:hover {
        cursor: pointer;
        background-color: var(--header-bg-color);
        border-bottom: 1px solid var(--text-color);
    }

    .idioma {
        padding-top: 20px;
        font-size: 15px;
        margin-top: 5px;
    }

    #img-skill {
        border-radius: 5px;
        width: 450px;
        display: none;
        height: auto;
    }

    #img-res {
        width: 225px;
        display: block;
    }
    .ul-header{
        text-align: center;
        display: block;
    }

}