:root {
    --primary-color: rgb(252, 252, 252);
    --secondary-color: rgba(255, 255, 255, 0.589);
    --text-color: rgb(80, 80, 32);
    --link-hover-color: rgba(128, 128, 128, 0.192);
    --title-contact: white;
    --header-bg-color: #33333300;
    --header-scrolled-bg-color: rgb(252, 252, 252);
    --footer-bg-color: rgb(59, 59, 59);
    --color-text-about: rgb(0, 0, 0);
    --span-letra-destacar: rgb(80, 80, 32);
    --carousel-color: rgb(252, 252, 252);
    --highlight-color: rgb(255, 244, 194);
    --carousel-item-width: 500px;
    --carousel-item-height: 200px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.aviso{
    width: 100%;
    display: flex;
    justify-content: center;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    background: var(--primary-color);
    overflow-x: hidden;
}

.background-video {
    background-color: var(--secondary-color);
}

.container {
    width: 100%;
    min-height: calc(100vh - 100px);
    /* Ensure the container takes up at least the full viewport height minus the footer height */
}

.img-logo {
    width: 330px;
    transition: width 0.5s;
}

.img-logo.scrolled {
    width: 300px;
}

.li-logo {
    position: fixed;
    left: 20px;
}

.title {
    font-size: 60px;
    font-weight: normal;
    margin-top: 0;
    font-family: Roboto, Arial, sans-serif;
    color: var(--text-color);
}

.slogan {
    margin-top: 0;
    font-size: 30px;
    color: var(--text-color);
}

.background-video {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.background-video .content {
    position: relative;
    z-index: 1;
    color: var(--text-color);
    text-align: center;
    padding-top: 40vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    transition: background-color 0.3s;
    z-index: 999;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 130px;
    align-items: center;
    transition: height 0.5s;
}

nav ul li {
    margin: 0 15px;
    height: 20px;
    margin-right: 50px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease;
}

nav ul li a:hover {
    border-bottom: 1px solid var(--text-color);
}


.li-contato {
    border: 1px solid var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    transition: background 0.3s;
}

.li-contato:hover {
    background: var(--link-hover-color);
}

header.scrolled nav ul {
    height: 100px;
    background-color: var(--header-scrolled-bg-color);
}

.extra-content {
    margin-top: 70px;
}

.content .lang {
    display: none;
}

.content .lang.active {
    display: block;
}

.language-select {
    display: flex;
    box-sizing: border-box;
    gap: 5px;
}

.img-En,
.img-Pt {
    width: 15px;
    display: block;
}

.img-flexa {
    display: block;
    width: 40px;
    margin-top: 100px;
    cursor: pointer;
    transition: padding 0.5s;
}

.img-flexa:hover {
    padding-top: 20px;
}

#img-flexa {
    background-color: transparent;
    border: none;
}

.span-flecha {
    color: rgba(128, 128, 128, 0.753);
    font-size: 15px;
    font-weight: 300;
    display: none;
}

#a-contato {
    border-bottom: none;
}

.carousel {
    display: flex;
    background-color: var(--carousel-color);
    justify-content: center;
    margin-top: -180px;
    position: relative;
    overflow: hidden;
}


.carousel-prev,
.carousel-next {
    margin-top: 0;
    cursor: pointer;
    height: var(--carousel-item-height);
    background-color: transparent;
    border: none;
}

.img {
    border-radius: 5px;
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.seta_direita,
.seta_esquerda {
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.title-portfolio {
    width: 100%;
    height: 140px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--text-color);
    font-weight: 300;
    margin-top: 50px;
}

.section-carousel {
    height: 100vh;
}

.print-GL {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}

footer {
    align-items: center;
    width: 100%;
    background-color: var(--footer-bg-color);
}

.copy {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100px;
    color: white;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.contatos {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 100px;
}
.contact {
    font-weight: 300;
    font-size: 35px;
    padding-top: 20px;
    margin-top: 50px;
    color: var(--title-contact);
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.05em;
}

.squad-1,
.squad-2,
.squad-3,
.squad-4 {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
}

.squad-1:hover,
.squad-2:hover,
.squad-3:hover,
.squad-4:hover,
.a-squad:hover {
    border-radius: 3px;
    background: rgb(24, 23, 23);
}

.squad-1:hover {
    background: rgb(0, 119, 181);
}
.squad-3:hover {
    background: rgb(0, 0, 0);
}
.squad-4:hover {
    background: #3b5998;
}

.img-squad{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.section-about {
    width: 100%;
    height: 100vh;
    color: var(--color-text-about);
}

.div-about {
    width: 100%;
    height: 530px;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.span-text {
    width: 800px;
    height: 570px;
    overflow: auto;
    color: white;
    padding: 0 30px;
    font-weight: 300;
}

.text-about {
    font-size: 16px;
    color: var(--color-text-about);
    letter-spacing: 0.08em;
}

.span-destacar {
    font-weight: 300;
    color: var(--span-letra-destacar);
}

.about {
    font-weight: 300;
    font-size: 35px;
    margin-top: 50px;
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.05em;
}


.hard-skills {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: white;
    border-bottom: 1px solid var(--span-letra-destacar);
}

.section-portfolio {
    width: 100%;
    height: 100vh;
}

.span-whatsap{
position: fixed;
bottom: 10px;
right: 10px;
z-index: 1000;
cursor: pointer;
}
.img-whatsap{
width: 50px;
height: 50px;
border-radius: 5px;
transition: width 0.5s ease, height 0.5s ease;
}
.img-whatsap:hover{
width: 70px;
height: 70px;
}
