:root {
    /* --primary-color: width: 100%; height: 100vh;
    background: linear-gradient(90deg,#41223b , #2C1E4A,#000000 ); */
     --primary-color: rgb(31, 27, 59);
    --text-color: rgb(255, 255, 255);
    --link-hover-color: rgba(128, 128, 128, 0.192);
    --title-contact: white;
    --header-bg-color: #33333300;
    --header-scrolled-bg-color:#2C1E4A;
    --footer-bg-color: rgb(59, 59, 59);
    --color-text-about: rgb(255, 255, 255);
    --span-letra-destacar: rgb(80, 80, 32);
    --carousel-color: rgb(252, 252, 252);
    --highlight-color: rgb(255, 244, 194);
    --carousel-item-width: 400px;
    --carousel-item-height: 200px;
}


@font-face {
    font-family: 'MinhaFonte';
    src: url('./fonnts.com-Lastica.ttf') format('truetype');
}

:root {
    --cor1: rgb(255, 255, 255);
    /*cor linhas menu*/
    --cor2:rgb(255, 255, 255);
    /*cor nome menu*/
    --cor3: rgb(255, 255, 255);
    /*cor links do menu */
}

* {
    padding: 0;
    margin: 0;
}


.logo-header{
    display: none;
}

.loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    background-color: var(--carousel-color);
    font-size: 24px;
}

@keyframes increaseSize {
    from {
        width: 300px;
    }

    to {
        width: 500px;
    }
}
.background-video .video {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 120vh;
    object-fit: cover;
    z-index: -1;
}


.background-video {
    position: relative;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, rgba(31, 27, 59, 0) 150px, rgba(50, 35, 97, 0.952));
}

/* @keyframes animateGradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

.img-lobo {
    width: 300px;
    animation: increaseSize 2s forwards;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.aviso {
    width: 100%;
    display: flex;
    justify-content: center;
}


body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background: var(--primary-color);
}

.logo{
    margin-top: 0px;
    width: 100%;
    display: flex;
    margin-left: 90px;
    align-items: center;
    font-weight: 900;
    font-size: 15px;
    font-family: 'minhaFonte',
    Arial,
    sans-serif;
    letter-spacing: 0.2em;
    color: rgb(253, 253, 253);
    animation: slideFromBottom 2s ease forwards;
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
        /* Começa 50px abaixo de sua posição final */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Termina na posição normal */
    }
}

.img-logo {
    width: 80px;
    border: 1px solid #954BBC;
    border-radius: 50%;
    padding: 3px;
    margin-right: 15px;
}

.language-select {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.a-pt,
.a-en {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: auto;
    border: 1px solid transparent;
}
.a-pt:hover,
.a-en:hover {
    background-color: transparent;
    border: 1px solid transparent;
}

.img-En,
.img-Pt {
    margin-top: -10px;
    margin-left: -8px;
    width: 15px;
    height: 15px;
    border-top: 1px solid transparent;
}
.img-En:hover,
.img-Pt:hover {
    border-top: 1px solid var(--text-color);
}

.title {
    width: 100%;
    font-size: 55px;
    text-align:left;
    font-family: 'minhaFonte', Arial, sans-serif;
    font-weight: bolder;
    margin-top: 120px;
    letter-spacing: 0.3em;
    text-align: left;
    margin-left: 90px;
    color: white;
    animation: slideFromBottom 2s ease forwards;
}

.slogan {
    text-align: left;
    width: 100%;
    margin-left: 90px;
    font-family: Arial, sans-serif;
    margin-top: 0;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: left;
    letter-spacing: 0.3em;
    text-transform: uppercase; 
    animation: slideFromBottom 2s ease forwards;
    font-size: 25px;
}

.circuito{
    position: absolute;
    right:0;
    z-index: -1;
    top: 50px;
    left: 800px;
    width:100px;
    right:10px;
}
 .btn-flecha{

    text-align: center;
    box-sizing: border-box;
    height: 100px;
 }
 

.img-flexa {
    display: block;
    width: 30px;
    margin-top: 60px;
    cursor: pointer;
    transition: padding 0.5s;
}

.img-flexa:hover {
    padding-top: 20px;
}

#img-flexa {
    background-color: transparent;
    border: none;
}

.span-flecha {
    color: rgba(128, 128, 128, 0.753);
    font-size: 15px;
    font-weight: 300;
    display: none;
}

#a-contato {
    background: transparent;
    border: 1px solid var(--text-color);
    transition:background-color 0.3s;
}
#a-contato:hover {
    background-color:var(--header-scrolled-bg-color);
}



.img-carousel {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
}


.carousel-prev,
.carousel-next {
    margin-top: 0;
    cursor: pointer;
    height: var(--carousel-item-height);
    background-color: transparent;
    border: none;
}

#img-skill {
    border-radius: 5px;
    width: 450px;
    display: block;
    height: auto;
}
#img-res {
  display: none;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

#seta{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.title-portfolio {
    width: 100%;
    height: 140px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--text-color);
    font-weight: 300;
    margin-top: 50px;
}

.section-carousel {
    height: 100vh;
}

.print-GL {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}

footer {
    padding-top: 20px;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #2C1E4A, #000000);
}

.copy {
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items:end;
    height: 190px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
}

.contatos {
    display: block;
    width: 100%;
    height: 50px;
    list-style: none;
    justify-content: center;
    gap: 5px;
    padding-bottom: 100px;
}


.section-portfolio {
    width: 100%;
    height: auto;
}

.span-whatsap {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
    margin-bottom: 0px;
}


.img-whatsap {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: width 0.5s ease, height 0.5s ease;
}

.img-whatsap:hover {
    width: 70px;
    height: 70px;
}

.email-contact {
    margin-top: 20px;
    text-align: center;
    color: var(--title-contact);
}

.email-contact a {
    color: var(--title-contact);
    /* Ajuste a cor conforme necessário */
    text-decoration: none;
    font-weight: 300;
}

.email-contact a:hover {
    text-decoration: underline;
}




