:root {
    --primary-color: rgb(252, 252, 252);
    --secondary-color: rgba(255, 255, 255, 0.705);
    --text-color: rgb(80, 80, 32);
    --link-hover-color: rgba(128, 128, 128, 0.192);
    --title-contact: white;
    --header-bg-color: #33333300;
    --header-scrolled-bg-color: rgb(252, 252, 252);
    --footer-bg-color: rgb(59, 59, 59);
    --color-text-about: rgb(56, 56, 56);
    --span-letra-destacar: rgb(80, 80, 32);
    --carousel-color: rgb(252, 252, 252);
    --highlight-color: rgb(255, 244, 194);
    --carousel-item-width: 400px;
    --carousel-item-height: 200px;
}

:root {
    --cor1: rgb(80, 80, 32);
    /*cor linhas menu*/
    --cor2:rgb(80, 80, 32);
    /*cor nome menu*/
    --cor3: rgb(80, 80, 32);
    /*cor links do menu */
}

* {
    padding: 0;
    margin: 0;
}

#logo{
    padding-top:10px ;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}
/* #logo {
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    left: 20px;
} */

.loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    background-color: var(--carousel-color);
    font-size: 24px;
}

@keyframes increaseSize {
    from {
        width: 300px;
    }

    to {
        width: 500px;
    }
}

.img-lobo {
    width: 300px;
    animation: increaseSize 2s forwards;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.aviso {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sel-idioma{
    position: relative;
    top: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

body {
    background: var(--primary-color);
    overflow-x: hidden;
}

.background-video {
    background-color: var(--secondary-color);
}

.img-logo {
    width: 350px;
    border-bottom: 2px solid var(--text-color) ;
    transition: width 0.5s;
}

.img-logo.scrolled {
    width: 400px;
}

.logo {
width: 100%;
height: auto;
}

.sel-idioma {
    color: var(--text-color);
    font-size: 10px;
    text-align: center;
    position: fixed;
    right: 10px;
}

.language-select {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.a-pt,
.a-en {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: auto;
    border: 1px solid transparent;
}
.a-pt:hover,
.a-en:hover {
    background-color: transparent;
    border: 1px solid transparent;
}

.img-En,
.img-Pt {
    margin-top: -10px;
    margin-left: -8px;
    width: 15px;
    height: 15px;
    border-top: 1px solid transparent;
}
.img-En:hover,
.img-Pt:hover {
    border-top: 1px solid var(--text-color);
}

.title {
    font-size: 60px;
    font-weight: normal;
    margin-top: 0;
    font-family: Roboto, Arial, sans-serif;
    color: var(--text-color);
}

.slogan {
    margin-top: 0;
    font-size: 35px;
    color: var(--text-color);
}

.background-video {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.background-video .content {
    position: relative;
    z-index: 1;
    color: var(--text-color);
    text-align: center;
    padding-top: 40vh;
}

.extra-content {
    margin-top: 70px;
}

.content .lang {
    display: none;
}

.content .lang.active {
    display: block;
}


.img-flexa {
    display: block;
    width: 40px;
    margin-top: 100px;
    cursor: pointer;
    transition: padding 0.5s;
}

.img-flexa:hover {
    padding-top: 20px;
}

#img-flexa {
    background-color: transparent;
    border: none;
}

.span-flecha {
    color: rgba(128, 128, 128, 0.753);
    font-size: 15px;
    font-weight: 300;
    display: none;
}

#a-contato {
    border: 1px solid var(--text-color);
    transition:background-color 0.3s;
}
#a-contato:hover {
    background-color: rgb(236, 236, 236);
}



.img-carousel {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
}


.carousel-prev,
.carousel-next {
    margin-top: 0;
    cursor: pointer;
    height: var(--carousel-item-height);
    background-color: transparent;
    border: none;
}

#img-skill {
    border-radius: 5px;
    width: 450px;
    display: block;
    height: auto;
}
#img-res {
  display: none;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

#seta{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.title-portfolio {
    width: 100%;
    height: 140px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--text-color);
    font-weight: 300;
    margin-top: 50px;
}

.section-carousel {
    height: 100vh;
}

.print-GL {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}

footer {
    height: 50vh;
    align-items: center;
    width: 100%;
    background-color: var(--footer-bg-color);
}

.copy {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    align-items:end;
    height: 190px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
}

.contatos {
    display: block;
    width: 100%;
    height: 50px;
    list-style: none;
    justify-content: center;
    gap: 5px;
    padding-bottom: 100px;
}
#li-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact {
    font-weight: 300;
    font-size: 35px;
    padding-top: 20px;
    margin-top: 50px;
    color: var(--title-contact);
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.05em;
}


.squad-1,
.squad-2,
.squad-3,
.squad-4 {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
}

.squad-1:hover,
.squad-2:hover,
.squad-3:hover,
.squad-4:hover,
.a-squad:hover {
    border-radius: 3px;
    background: rgb(24, 23, 23);
}

.squad-1:hover {
    background: rgb(0, 119, 181);
}

.squad-3:hover {
    background: rgb(0, 0, 0);
}

.squad-4:hover {
    background: #3b5998;
}

.img-squad {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.section-about {
    width: 100%;
    height: auto;
    color: var(--color-text-about);
    margin-top: 150px;
}

.div-about {
    width: 100%;
    height: auto;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.span-text {
    width: 1000px;
    height:auto;
    overflow: hidden;
    color: white;
    padding: 0 30px;
    font-weight: 300;
}

.text-about {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 300;
    font-family: inherit;
    color: var(--color-text-about);
    letter-spacing: 0.08em;
}

.span-destacar {
    font-weight: 700;
    color: var(--span-letra-destacar);
}

.about {
    font-weight: 300;
    font-size: 35px;
    margin-top: 100px;
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 0.05em;
}

.hard-skills {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: white;
}

.section-portfolio {
    width: 100%;
    height: 100vh;
}

.span-whatsap {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
    margin-bottom: 0px;
}


.img-whatsap {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: width 0.5s ease, height 0.5s ease;
}

.img-whatsap:hover {
    width: 70px;
    height: 70px;
}

.email-contact {
    margin-top: 20px;
    text-align: center;
    color: var(--title-contact);
}

.email-contact a {
    color: var(--title-contact);
    /* Ajuste a cor conforme necessário */
    text-decoration: none;
    font-weight: 300;
}

.email-contact a:hover {
    text-decoration: underline;
}

.service{
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: top;
    gap: 20px;
}
.title-service {
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--text-color);
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
}

.service-1, .service-2,.service-3{
    width: 200px;
    height: 200px;
    background-color: var(--primary-color);
    border-radius: 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1),
    2px 2px 5px rgba(0, 0, 0, 0.07);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--text-color);
}
.img-ux{
    margin-right: 20px;
    width: 40px;
}

/*inicio css Menu ***********************************************************   */

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

a:hover {
    border-bottom: 1px solid var(--text-color);
}



.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content:center;
    background-color:transparent;
    transition: height 0.3s;
}
.header.scrolled {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 125px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    justify-content: center;
    background-color:var(--primary-color);
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
   
    margin-top: 80px;
}

#menu a {
    color: var(--cor3);
    display: block;
    padding: .5rem;
    font-size: 20px;

}

/* fim da estrutura do Menu e cabeçalho quando a tela está sem responsividade */

#btn-mobile {
    display: none;
}

/* Inicio menu mobile telas menores */

@media (max-width: 900px) {
    btn-mobile {
        display: block;
    }}

@media (max-width: 600px) {
    btn-mobile {
        display: block;
    }

   .li{
    display: flex;
    justify-content: center;
  
   }
   
        body,
        html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            overflow-x: hidden;
        }
    
        body {
            background: var(--primary-color);
            overflow-x: hidden;
        }

    .header{
        margin-top: 0;
        height: 130px;
        width: 100%;
        background-color: var(--primary-color);
        display: block;
    }

    #logo{
     justify-content: center;
     width: 100%;
     margin: 0;
    text-align: center;
    }
    
    .img-logo{
        margin-top: 20px;
        margin-right: 25px;
        width: 300px;
    }
    
    #a-contato{
        border: none;
    }
    #a-contato:hover{
     background-color: var(--primary-color);
    }
  
    #menu {
        display: block;
        /*Agora desta parte para baixo vamos dar estilo a folha do menu quando está ativa */
        position: absolute;
        /*sobrepor todas*/
        width: 100%;
        top: 50px;
        right: 0px;
        background-color: var(--primary-color);
        /* background-color: red; */
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        /* Esconde o menu na animação */
        overflow: hidden;
        /*na animação sincroniza os objetos com o visibility*/
        /*overflow-y:auto; ativar se o menu tiver mais itens cria barra de rolagem*/
    }


    #nav.active #menu {
        height: 350px;
        overflow-x: hidden;
        /* height: calc(100vh - 70px); */
        /* altura da tela - o do topo */
        display: block;
        visibility: visible;
        /* mostra os itens do menu na animação*/
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--primary-color);
    }
    
    #menu:hover a:hover {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--text-color);
    }
    

    #btn-mobile {
        /*estilizando o button */
        display: block;
        text-align: center;
        font-size: 20px;
        border: none;
        background: none;
        cursor: pointer;
        color: transparent;
        
    }

    #hamburguer {
        display: block;
        width: 50px;
        border-top: 4px solid;
        margin-left: 0px;
        color: var(--cor1);
    }


    #hamburguer::after {
        content: '';
        width: 50px;
        height: 2px;
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        border-top: 4px solid;
        /*position relative para alinhar o X do menu. */
        background: currentColor;


    }

    #hamburguer::before {
        content: '';
        width: 50px;
        border-top: 4px solid;
        height: 2px;
        display: block;
        margin-top: 5px;
        background: currentColor;

    }

 /* nesta parte controla o lado onde fica o Menu */
    nav{
        margin-top: 55px;
        display: flex;
        /* background-color: red; */
        width: 100%;
        justify-content: center;
    }

    nav.active #hamburguer {
        border-top-color: transparent;
        /*ativa com o nav e deixa o 1º traço trasparente */
    }

    nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px
    }
    .sel-idioma {
     width: 100%;
     position: relative;
     margin-left: 11px;
     margin-top: 7px;
     top: 0;
    }
   
    .language-select{
      display: flex;
    }

    .img-En,.img-Pt{
      width: 30px;
      height: auto;
    }

    #img-skill{
     display: none;
    }
    #img-res{
     width: 200px;
     display: block;
    }
    .img-aviso{
        width: 400px
    }
    .about{
        margin-bottom: 20px;
    }
    .title-portfolio{
        font-size: 28px;
    }
    .contact{
        display: flex;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
}


